a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.createWrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 0;
}

.createWrapper .createContainer {
  max-width: 820px;
  padding: 50px 20px;
  color: #000;
  margin-right: auto;
  margin-left: auto;
}

.createWrapper .createContainer .createMenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.createMenu ul li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2.6px;
  padding-bottom: 15px;
  font-weight: 500;
  color: #9b9b9b;
  cursor: pointer;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

address, ol, p, ul {
  letter-spacing: 0;
}

.createMenuList .selected {
  border-bottom: 5px red;
}

.formSection .form-group {
  padding: 20px;
}

.formSection .productlist {
  display: none;
}

.formSection .active {
  display: block;
  background-color: lightsteelblue;
}

.rewardItem {
  position: relative;
}

.rewardItem .createCard {
  width: 49%;
  display: inline-block;
  float: left;
  height: 300px;
}

.rewardItem .previewCard {
  width: 49%;
  display: inline-block;
  float: left;
  height: 300px;
}

.rewardItem .previewCard #photoPre {
  width: 100%;
  height: 200px;
}

.rewardItem .rewardInfo {
  display: inline-block;
  width: 100%;
}


.plan{
  background: -webkit-gradient(linear, bottom top, color-stop(lightblue, white));
  background: linear-gradient(top bottom, white lightblue);
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 250px;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  background-color:white;
}

.plan .donateMoney{
  font-size: 30px;
}
.plan .projectThumb{
  width: 100%;
  height: 200px;
}
.plan .projectThumb img{
	width: 100%;
  height: 200px;
}
.plan .planText{
  width: 90%;
  display: inline-block;
  width: 40%;
  display: inline-block;
}

.plan .planText .shipping{
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: left;
}

.plan .planText .deliverDate{
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.plan .planText .limit{
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border-left: 3px solid #00bbd6;
  padding: 0px 5px;
  margin: 0px 5px;
}
#enterTittle{
	font-size:30px;
	
}

#viewArea {
  margin: auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#viewArea img {
  width: 100%;
}

#viewArea pre {
  white-space: pre-wrap;
}

#preViewArea {
  margin: auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#preViewArea img {
  width: 100%;
}

#preViewArea pre {
  white-space: pre-wrap;
}

#enterTable{
  font-size: 20px;
  font-weight: bold;
	
}
/*# sourceMappingURL=create.css.map */